.card {
  /* width: 210px; */
  position: relative;
  height: 342px;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
}

.card__background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7b8a8;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20%;
}
.card__background::before {
  content: '';
  position: absolute;
  background-color: white;
  bottom: 132px;
  left: 0;
  /* left: -25px; */
  height: 50px;
  width: 70px;
  border-top-left-radius: 26px;
  box-shadow: 0 -25px 0 0 #a7b8a8;
}
/* .card__background::before {
  content: '';
  position: relative;

  background-color: #0074d9;
  bottom: -105px;
  left: -25px;
  height: 50px;
  width: 30px;
  border-top-left-radius: 25px;
} */

.card__image {
  border-radius: 50%;
  width: 100px;
  height: auto;
  position: relative;
  top: -60px;
}

.card__info {
  background-color: white;
  border-top-left-radius: 20%;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h1 {
  color: #292929;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

p {
  color: #292929;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  position: relative;
  bottom: 40px;
}
.card__social-icons {
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}
