/* .searchForm {
  position: relative;
} */
.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm .form__button {
  position: relative;
  left: 20px;
}
.form__button svg {
  font-size: 16px;
}

.searchForm input {
  padding-left: 20px;
  height: 30px;
  width: 200px;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
}

.searchForm input[type='text']::placeholder {
  padding-left: 20px;
}
