* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebe9e4;
}

.control__btns {
  width: 85%;
  max-width: 850px;
  margin: 5vh auto;
  display: flex;
  justify-content: space-between;
}
.control__btns--left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

/* @media (max-width: 390px) {
} */
