body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebe9e4;
}

.control__btns {
  width: 90%;
  max-width: 1100px;
  margin: 5vh auto;
  display: flex;
  justify-content: space-between;
}
.control__btns--left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}
